body{
    background-color: #1D734F;
    font-family: 'Crimson Pro';
    color: white
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 95vh;
}

.fotu {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 40%;
}

.quest {
    font-size: 1.2rem;
}
.opcoes{
    width:  100%;
}
.texto{
    margin-left: 2rem;
}
a{
    text-decoration: none;
    color: white;
}

.log{
    padding: 0.3rem;
}


