main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 20%;
    font-family: crimson-pro;
}
body{
    background-color: #A64F1A;
}

form{
    padding: 0.2rem;
}
.foto{
    margin-top: 15%;
    max-width: 70%;
    max-height: 70%;
}
.titulo{
    background-color: #1D734F;
    color: white;
    padding-inline: 3rem;
    padding-block: 1rem;
    border-radius: 1rem;
}

.logo{
    max-width: 20%;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  /* Esconde o overlay inicialmente */
  .hidden {
    display: none;
  }

.loading-spinner{
    width: 50px;
    height: 50px;
    border: 4px solid transparent; /* Bordas transparentes */
    border-top: 4px solid #1D734F; /* Apenas a borda superior visível */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Animação de rotação */
    position: fixed;
    top: 45%;
    right: 45%;
  }
  

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
