body{
    display: flex;
    flex-direction: column;

}
h1 {
    font-style: italic;
    text-decoration: underline;
}

h2 {
    color: red;
}

header {
    flex-grow: 0;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;

    /* Anatomia básica resumida */

}
main{
    flex-grow: 1;
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
}
footer{
    flex-grow: 0;
    border: 1px solid orange;
    margin: 10px;
    padding: 10px;
}
 
