body{
    display: flex;
    flex-direction: column;

}
h1 {
    font-style: italic;
    text-decoration: underline;
}

h2 {
    color: red;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;

    /* Anatomia básica resumida */

}
.info_perfil{
    display: flex;
    justify-content: space-around;
    padding-left: 50rem;
    padding-right: 1rem;
    
}
main{
    flex-grow: 1;
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
    position:relative;
}
footer{
    flex-grow: 0;
    border: 1px solid orange;
    margin: 10px;
    padding: 10px;
}
.bottom-nav{
    position: fixed;
}
 
