body{
    background-color: #1D734F;
    font-family: 'Crimson Pro';
    color: white;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.bottom-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #A64F1A;
    padding: 0.5rem 1rem; 
    border-radius: 50px; 
    width: 80%; 
    height: 10%;
}
h1{
    position: absolute;
    top: 45%;
    font-size: larger;
}
main{
    display: flex;
    justify-content: center;
    
}