body{
    background-color: #1D734F;
    font-family: 'Crimson Pro';
    color: white;
}

a{
    text-decoration: none;
    color: white;
}


h1{
    display:flex;
    justify-content: center;
    padding: 3rem;
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}

.iniciar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
.texto-iniciar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A64F1A;
    width: 50%;
    height: 50%;
    font-size: 2rem;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.bottom-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #A64F1A;
    padding: 0.5rem 1rem; 
    border-radius: 50px; 
    width: 80%; 
    height: 10%;
}