body{
    background-color: #1D734F;
     font-family: 'Crimson Pro';
}

a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}
main{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
ul{
    font-size: 2rem;
    padding: 1rem;
    padding-left: 2rem;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.bottom-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #A64F1A;
    padding: 0.5rem 1rem; 
    border-radius: 50px; 
    width: 80%; 
    height: 10%;
}

.log{
    padding: 0.3rem;
}